@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Rubik&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body button {
  border: none;
}

.container {
  max-width: 1148px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body * {
  font-family: Poppins;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar__logo h1 {
  color: #02897A;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
}
@media (max-width: 560px) {
  .navbar__logo h1 {
    display: none;
  }
}

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding-top: 19px;
  padding-bottom: 24px;
}

.dark header {
  background-color: black;
}

.dark header * {
  color: rgb(201, 195, 195) !important;
}

.dark #navbar-open svg {
  fill: white;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.nav__list .dark__light {
  background: transparent;
  border: none;
  width: 30px;
}
.nav__list img {
  width: 35px;
}
.nav__list a {
  color: #22343d;
  font-size: 16px;
  line-height: 28px;
}
.nav__list a:hover {
  color: black;
  font-weight: 600;
}
.nav__list .nav__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
}
.nav__list .nav__btn-1 {
  color: #173A56;
  padding: 10px 22px;
  border: 1px solid #bcd0e5;
  background-color: #fff;
}
@media (max-width: 500px) {
  .nav__list .nav__btn-1 {
    padding: 5px 8px;
    margin-right: 5px;
  }
}
.nav__list .nav__btn-2 {
  color: #fff;
  padding: 12px 22px;
  border: none;
  background-color: #02897A;
}
@media (max-width: 500px) {
  .nav__list .nav__btn-2 {
    padding: 5px 8px;
  }
}
@media (max-width: 500px) {
  .nav__list .nav__btn-2 .nav__list {
    gap: 5px;
  }
  .nav__list .nav__btn-2 .product__button {
    display: inline-block;
  }
}

#navbar-open {
  display: none;
  background: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-shrink {
  padding-bottom: 5px;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#navbar-responsive {
  position: fixed;
  bottom: 0;
  top: 0;
  left: -100%;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
#navbar-responsive .navbar__items {
  text-align: center;
  width: 200px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: rgb(40, 39, 39);
}
#navbar-responsive .navbar__items a {
  color: white;
}
#navbar-responsive img {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  padding: 10px 15px;
}
#navbar-responsive img:hover {
  background-color: rgb(221, 123, 4) v;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#navbar-responsive .navbar__items:hover {
  cursor: pointer;
}
#navbar-responsive .navbar__items:hover a {
  color: orange;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 910px) {
  .nav__items {
    display: none;
  }
}

@media (max-width: 910px) {
  .navbar__logo #navbar-open {
    display: inline-block !important;
  }
}
.product {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
@media (max-width: 1000px) {
  .product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.product__right__content h1 {
  max-width: 518px;
  color: #22343d;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 145px;
  margin-bottom: 18px;
}
.product__right__content p {
  max-width: 458px;
  color: #22343d;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}
.product__left {
  max-width: 580px;
}
.product__left img {
  width: 100%;
  margin-top: 28px;
}
.product__button button:nth-child(1) {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  padding: 15px 41px;
  background-color: #02897A;
  border-radius: 4px;
  margin-right: 30px;
}
.product__button__second {
  background: transparent;
}
.product__button__second a {
  display: inline-block;
}
.product__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.product__button__second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.product__button__second a {
  color: #02897A;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
}
.product__right {
  margin-left: 13px;
}